.root {
  margin-left: 2rem;
  width: 20%;
  .title {
    margin-bottom: 15px;
  }
  .days_wrapper {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .day {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .red {
        color: red;
      }
      .blue {
        color: blue;
      }
    }
  }
}
