.root {
  display: flex;
  justify-content: space-between;
  .now_left {
    width: 48%;
    height: 200px;
    background: linear-gradient(#3e85f6, #8fc2fd80);
    border-radius: 10px;
    color: #48484a;
  }
  .now_right {
    width: 48%;
    height: 200px;
  }
}
