.root {
  display: flex;
  .now_left {
    width: 48%;
    height: 200px;
    background: linear-gradient(#3e85f6, #8fc2fd80);
    border-radius: 10px;
    color: #48484a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    .now {
      font-weight: bold;
      color: #f09479;
    }
    .main_data {
      display: flex;
    }
    .temperature {
      display: flex;
    }
    .detailed_status {
      display: flex;
    }
  }
  .now_right {
    width: 48%;
    height: 200px;
    margin-left: 2rem;
  }
}
